@font-face {
    font-family: 'BigBlueTerm';
    src: url("BigBlueTerm437NerdFontMono-Regular.woff");
}

body {
    color: #cad3f5;
    background-color: #24273a;
    font-family: 'BigBlueTerm';
    font-size: xx-large;
}